.gridComment {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 7fr;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.date {
  opacity: 0.5;
}

.authorInfo {
  word-wrap: break-word;
  max-width: 90px;
}

.btnComment {
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
}

@media screen and (max-width: 500px) {
  .gridComment {
    grid-template-columns: 1fr;
  }
  .authorInfo {
    max-width: 150px;
  }
  .author {
    margin-bottom: 0px;
  }
}
