th,
td {
  border: solid black;
  padding: 5px;
  width: 200px;
}

table {
  border-collapse: collapse;
}

caption {
  font-style: italic;
}

.centerTab {
  margin-left: auto;
  margin-right: auto;
}
