.userInfoGrid {
  display: grid;
  margin: 70px 50px 0px 50px;
  grid-template-columns: 2fr 8fr;
  column-gap: 30px;
  box-shadow: 0px 0px 5px black;
  margin-bottom: 20px;
}

.infoAvatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.inputModified {
  color: #555;
  padding: 12px;
  width: 80%;
  max-width: 650px;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: #e8e8e8;
  cursor: text;
}

.marginInput {
  margin: 5px 0px 5px 15px;
}

.inputModified:focus {
  background-color: blanchedalmond;
  border: 2px solid #27ae60;
}

.inputIsNotModified {
  border: none;
  background: inherit;
}

.displayForm {
  height: auto;
  display: flex;
  flex-wrap: wrap-reverse;
  padding: 15px;
  flex-direction: column;
  justify-content: space-around;
}

.btnQuit {
  border: 2px solid red;
}

.btnQuit:hover {
  background-color: red;
  color: white;
}

.show {
  display: block;
}
.hide {
  display: none;
}

.btnCenter {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 580px) {
  .userInfoGrid {
    grid-template-columns: 1fr;
  }
}
