body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

button {
  width: 180px;
  height: 30px;
  margin: 5px;
  border: 1px solid #00ff00;
  background: white;
}

button:hover {
  cursor: pointer;
  background-color: #00ff00;
}
