.searchAcc {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 70px;
  width: 100%;
  background-color: antiquewhite;
}

.selectAcc {
  width: 180px;
  height: 30px;
  margin: 5px;
  border: 1px solid #27ae60;
  background: white;
}
