.flexRowDisplay {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.transitionHide {
  display: none;
  opacity: 0;
  visibility: hidden;
  animation: fade 1s;
}

.transitionShow {
  display: block;
  visibility: visible;
  opacity: 1;
  animation: fade 1s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
