.btnStyleHomePage {
  height: 300px;
  width: 300px;
  cursor: pointer;
  border: none;
  font-size: 30px;
  font-weight: bold;
  font-style: oblique;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}

.homeGridDisplay {
  display: grid;
  margin: 50px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  justify-items: center;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .homeGridDisplay {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 670px) {
  .homeGridDisplay {
    grid-template-columns: repeat(1, 1fr);
  }
}
