.inputSearch {
  padding: 6px;
  font-size: 17px;
  border: none;
  width: 200px;
  transition: all 0.7s ease 0s;
}

.inputSearch:focus {
  width: 80%;
}

.search-container button {
  height: 50px;
  width: 50px;
  margin: 0px;
  background-color: inherit;
  border: none;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .inputSearch:focus {
    width: 200px;
  }
}
