.gridDetail {
  display: grid;
  grid-template-columns: 3fr 6fr 2fr;
  grid-gap: 10px;
  margin: 80px 20px 0px 20px;
  text-align: center;
}

.detailFlex {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0px auto 0px auto;
}

.descriptionDetail {
  justify-content: space-around;
}
